body {
	padding-top: 50px;
}

#omm_notice-panel {
	margin-top: 50px;
}

.omm_panel-body table {
	margin-bottom: 0px;
}
#omm_select-all {
	margin-left: 15px;
}
.omm_navbar-buttons li:first-child{
	border-left: 1px solid;
	border-left-color: rgb(75, 75, 75);
}
.omm_navbar-buttons li{
	border-right: 1px solid;
	border-right-color: rgb(75, 75, 75);
}

