.omm_question-number-area {
    background-color: rgb(151, 159, 163) ;
    float: left;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 10px;
    font-size: large;
}

.slides > article {
    padding: 0px 0px !important;
    background-image: url(../images/mindmailer_logo1.png);
    background-repeat:no-repeat;
    background-position: 90% 60%;
    background-size: 30%;
    min-height: 700px;
}

.slides > article > .container {
    margin-top: 80px;
}

#next-slide-area {
    display: block;
    transform: translate(1020px);
    -o-transform: translate(1020px);
    -moz-transform: translate(1020px);
    -webkit-transform: translate3d(1020px, 0, 0);
    position: absolute;
    overflow: hidden;
    width: 900px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin-left: -450px !important;
    margin-top: -350px;
    padding: 40px 60px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
}

#prev-slide-area {
    display: block;
    transform: translate(-1020px);
    -o-transform: translate(-1020px);
    -moz-transform: translate(-1020px);
    -webkit-transform: translate3d(-1020px, 0, 0);
    display: block;
    position: absolute;
    overflow: hidden;
    width: 900px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin-left: -450px !important;
    margin-top: -350px;
    padding: 40px 60px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
}

.slides > article.past {
    opacity: .5;
}

.slides > article.next {
    opacity: .5;
}

/*
.omm_answer-field{
    max-width: 100%;
    min-height: 55px;
    height: 7%;
    max-height: 5%;
    display: inline-block;
    color: rgb(51, 51, 51);
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1%;
}

.omm_droppable{
    float: right;
    width: 48%;

    height: 85%;
    border: dashed 1px midnightblue;
    display: inline-block;
    margin-top:  0.5%;
    margin-right: 0.5%;
}

.omm_droppable > .omm_draggable{
    float: right;
    padding: 1.5% !important;
    margin: 1.8% !important;
}
*/

.omm_droppable-answer > span , .omm_droppable > span{
    text-align: left;
    display: inline-block;
}

.omm_droppable-answer > span {
    margin: 4.5%;
}

.omm_droppable > span{
        margin: 3.5%;
        color: #35B929;
        font-weight: 700;
}

.well {
    padding: 15px;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.omm_answer-field{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-bottom: 6px;
}
.omm_droppable{

    min-height: 76px;
    border: dashed 1px midnightblue;
    margin-bottom: 0px;
}


.omm_droppable > .omm_draggable{
    float: right;
    margin: 0px;
    padding: 10px;
    width: 50%;
}

.omm_droppable-answer{
	min-height: 76px;
    padding: 24px 0px 0px 25px;
	margin-bottom: 0px;
	font-size: 20px;
 }

.omm_draggable{
    background-color: rgb(245, 245, 245);
    display:inline-block;
    float: left;
    border: solid lightblue 2px;
    cursor: move;
    border-radius: 4px;
    text-align: center;

}

.checkbox > label{
    margin-left: 3px;
    display: inline-block;
}

.radio.omm_callout-answer {
    margin-left: -5px;
    padding-left: 22px;
}

.omm_answer-field-big >.omm_draggable{
    margin: 2px;
    padding: 10px;
}

.navbar{
    min-height: 0px;
}

.omm_navbar {
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    width: 120px;
    height: 35px;
    background-color: rgb(151, 159, 163);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.omm_navbar a {
    color: black;
}

.omm_navbar i{
    padding: 4px;
    padding-top: 0px;
    font-size: x-large;
}

/*
Colors for dimension testing

@media (min-width: 992px) {
    .slides > article {
        background-color: greenyellow !important;
    }
}

@media (min-width: 1200px) {
    .slides > article {
        background-color: green !important;
    }
}*/
@media (max-width: 900px){

    .slides > article.next {
        visibility: hidden !important;
    }
    .slides > article.past {
        visibility: hidden !important;
    }
    .slides > article.far-next {
        display: none !important;
    }
    .slides > article.current {
        display: block !important;
        position: relative;
        overflow: hidden;
        width: 100% !important;
        height: 100% !important;
        left: 0% !important;
        top: 0% !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        padding: 40px 60px;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 0px !important;
        -o-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
    }
}

@media (max-height: 700px){

    .slides > article {
        margin-top: 0px !important;
        top: 0% !important;
        border-radius: 0px !important;
        -o-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
    }

    .slides > article.current {
        display: block !important;
        position: relative;
        height: 100%;
    }
}

/* Validation Style */
.omm_callout {
    padding: 2%;
    border-left: 3px solid #eee;
    border-radius: 4px;
}

.omm_callout-wrong {
    background-color: #FDE7E9;
    border-color: #FC0A0A;
}

.omm_callout-right {
    background-color: #A2FA99;
    border-color: #36D80E;
}

.omm_callout-answer{
    border-left: 3px solid #eee;
    border-radius: 4px;
}

.omm_callout-answer-wrong{
  background-color: #F38A93 !important;
  border-color: #FC0A0A;
}

.omm_callout-answer-right{
    background-color: #9DF376;
    border-color: #1c5005;
}

.omm_callout-text-wrong, .omm_callout-text-right{
    border-width: 2px;
    -webkit-box-shadow: inset 0 3px 2px rgba(0,0,0,0.075);
    box-shadow: inset 0 3px 2px rgba(0,0,0,0.075);
}
.omm_callout-text-wrong{
    border-color: #F5110C;
}

.omm_callout-text-right{
    border-color: #1c5005;
}

.validationSlide {
    text-align: center;
}
#checkAnswer{
    margin-top: 25%;
}

/* font awesome icons */
.omm_notice.fa-times-circle{ 
    color: #FF0000;
}
.omm_notice.fa-check-circle{
    color: #ABDD1F;
}

.omm_alert-danger{
    color:#000000;
    font-weight: bold;
}

.omm_alert-success{
    font-weight: bold;
}

.omm_statistic-table > td, .omm_statistic-table > td > i{
    text-align: left;
    vertical-align: middle !important;
}

.MultipleChoice .omm_callout{
    padding-left: 29px;
}

.omm_multipleChoiseXtra{
    margin-left: -44px !important;
}

#omm_right-answer-info{
    color: #ABDD1F;
    margin-left: -21px;
    font-size: x-large;
}

.omm_clozetext{
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
